
<%= form_for(@tool) do |f| %>
<label>Brand: </label>
    <%= f.text_field :brand, list: "brands_autocomplete" %>
    <datalist id="brands_autocomplete">
        <% Tool.all.each do |tool| %>
            <option value="<%= tool.brand %>">
        <% end %>
    </datalist><br>

    <label>Name: </label>
    <%= f.text_field :name, list: "names_autocomplete" %>
    <datalist id="names_autocomplete">
        <% Tool.all.each do |tool| %>
            <option value="<%= tool.name %>">
        <% end %>
    </datalist><br>

    <%= f.fields_for :projects_tools do |projects_tool_attributes| %>
        <%= projects_tool_attributes.hidden_field :project_id, :value=>params["project_id"] %>
        <label>Favorite This Tool?</label>
        <%= projects_tool_attributes.select :favorite, [["Nah, it's just okay", false], ["Duh! It's amazing!", true]] %>
       
    <% end %> 
    <br>
    <%= f.submit %>
    <% end %>