<h1>Add a New Tool</h1>

<%= form_for(@pt) do |f| %>
    <%= f.hidden_field :project_id, value: params[:project_id].to_i %>

    <%= f.fields_for(@tool) do |t| %>
        <label>Brand: </label>
        <%= t.text_field :brand %><br>

        <label>Name: </label>
        <%= t.text_field :name %><br>
    <% end %>

    <label>Favorite Tool</label>
    <%= f.select :favorite, [["Nah, it's just okay", false], ["Duh! It's amazing!", true]] %>


    <%= f.submit "Add Tool" %>

<% end %>



nest project tools favorite into this form