<h1>Add a New Tool</h1>

<%= form_for(@tool) do |f| %>
    <label>Brand: </label>
    <%= f.text_field :brand %><br>

    <label>Name: </label>
    <%= f.text_field :name %><br>

     <%= f.fields_for :project_tools do |pt| %>
        <%= pt.hidden_field :project_id, value: params[:project_id] %>
    <% end %> 

    <%= f.submit "Add Tool to Project" %>
<% end %>

nest project tools favorite into this form