<h1>Tool Info</h1><br>

<h4>Brand: <%= @tool.brand %></h4><br>
<h4>Name: <%= @tool.name %></h4><br>


<%= link_to "Edit Tool Info", edit_projects_tool_path(@tool) %><br>

DELETE/REMOVE TOOL FROM PROJECT LINK<br>
<%= link_to "Delete Tool", projects_tool_path(@tool), method: :delete %>

MAKE THIS A LINK BACK TO THE PROJECT YOU CAME HERE FROM
<%= link_to "Back to Project", projects_path %>

