<h1>Welcome Back!</h1>

<%= form_for @user, url: login_path, method: :post do |f| %>
    <label>Email Address: </label>
    <%= f.text_field :email %><br>

    <label>Password: </label>
    <%= f.password_field :password %><br>

    <div class="button"><%= f.submit "Log In" %></div>

<% end %>

<%= link_to "Log in using Facebook", "/auth/facebook" %>