<h1><%=@user.full_name%></h1>

<h3><%= link_to "Add a new project", new_project_path %></h3><br>

<h4>My Projects: </h4>
<% @user.projects.each do |proj| %>
    <%= link_to proj.title, project_path(proj) %><br>
<% end %>


<br>
<%= link_to "Edit Account Info", edit_user_path(@user) %><br>
LINK TO LOG OUT
<%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
  <input type=submit value='Log Out'>
<% end %><br>
<%= button_to "Delete Account", user_path(@user), method: :delete %>
