<h1><%=@user.full_name%></h1>

<%= render 'projects/flash' %>

<div id="project"><% if user_permitted %>
    <h3><%= link_to "Add a new project", new_user_project_path(@user) %></h3><br>
<% end %></div>

<h4>My Projects:</h4>
<% @user.projects.each do |proj| %>
    <%= link_to proj.title, user_project_path(@user, proj) %><br>
<% end %>


<br>
<% if user_permitted %>
    <%= button_to "Edit Account Info", edit_user_path(@user), method: :get %><br>
<% end %>
<div class="static"><% if user_permitted %>
    <%= link_to "Delete Account", user_path(@user), method: :delete,data: {confirm: "Aww, are you sure? We'd hate to see you go!"} %><br>
<% end %></div>
