<h1><%=@user.full_name%></h1>

<h3><%= link_to "Add a new project", new_project_path %></h3><br>

<h4>My Projects: </h4>
<% @user.projects.each do |proj| %>
    <%= link_to proj.title, project_path(proj) %><br>
<% end %>

MAYBE TAKE THIS OUT COME BACK LATER - try to make uniq after switching add tool to select or enter
<h4>My Toolbox: </h4>
<% @user.projects.each do |proj| %>
    <% proj.tools.each.uniq do |tool| %>
        <%= tool.brand %> <%= tool.name %><br>
    <% end %>
<% end %>

<br>
<%= link_to "Edit Account Info", edit_user_path(@user) %><br>
LINK TO DELETE ACCOUNT/USER
