<h1>Edit Project</h1>

<%= form_for(@project) do |f| %>
    <label>Title: </label>
    <%= f.text_field :title %><br>

    <label>Quote: </label>
    <%= f.text_area :quote %><br>

    <label>Style: </label>
    <%= f.select :style, [["Digital"], ["Traditional"]] %><br>

    <!-- Tools Used:<br>
    <%= fields_for :tools do |tool| %>
        <label>Brand: </label>
        <%= tool.text_field :brand %><br>

        <label>Name: </label>
        <%= tool.text_field :name %><br>
    <% end %> -->

    <label>Photo: </label>
    <%= f.file_field :photo %><br>

    <%= f.submit "Save Changes" %>
<% end %>