<header>
    <% if !current_user %>
        <div class="static"><%= link_to "Log In", login_path %></div>
        <div class="static"><%= link_to "Sign Up", new_user_path %></div>
    <% end %>
</header>

<h1>Check out all of our community's amazing work!</h1>

<% @projects.each do |project| %>
    <%= link_to project.title, project_path(project) %><br>
<% end %>

<%= button_to "Browse Digital Projects", projects_digital_path, method: :get %>
<%= button_to "Browse Traditional Projects", projects_traditional_path, method: :get %>

