<h1>Add a New Project</h1>

<%= form_for(@project) do |f| %>
    <% if @project.errors.any? %>
        <div id="error_explanation">
            <h4>
            <%= pluralize(@project.errors.count, "error") %>:
            </h4>
            <ul>
            <% @project.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
            </ul>
        </div>
    <% end %>
    <label>Title: </label>
    <%= f.text_field :title %><br>

    <label>Quote: </label>
    <%= f.text_area :quote %><br>

    <label>Style: </label>
    <%= f.select :style, [["Digital"], ["Traditional"]] %><br>

    <label>Photo: </label>
    <%= f.file_field :photo %><br>

    <%= f.submit "Create Project" %>
<% end %>
