<h1><%= @project.title %></h1><br>

<%= render 'flash' %>

<h5>Style:</h5>
<%= @project.style.camelcase %><br>

<h5>Quote:</h5>
<%= @project.quote %><br>

<h5>Tools used:</h5>
    <% @project.projects_tools.each do |pt|%>
        <%= link_to pt.tool.name, project_projects_tool_path(@project, pt) %><br>
    <% end %>
    <br>

<% if user_permitted %>
    <%= button_to "Add a Tool", new_project_projects_tool_path(@project), method: :get %><br>
<% end %>

<% if @project.photo.attached? %>
    <image class="resize" src="<%= (url_for(@project.photo)) %>">
<% end %>
<br>

<% if user_permitted %>
    <%= button_to "Edit Project", edit_user_project_path(@project.user, @project), method: :get %> <br>
    <div class="static"><%= link_to "Delete Project", user_project_path(@project.user, @project), method: :delete, data: {confirm: "Are you sure?"} %></div>
<% end %>
