<h1><%= @project.title %></h1><br>

<h5>Style: <%= @project.style.camelcase %></h5><br>

<h5>Tools used:</h5><br>
    <ul>
    <% @project.projects_tools.each do |pt|%>
        <%= link_to pt.tool.name, project_projects_tool_path(@project, pt) %><br>
    <% end %>
    </ul>
<%= button_to "Add a Tool", new_project_projects_tool_path(@project), method: :get %><br>

<% if @project.photo.attached? %>
    <image class="resize" src="<%= (url_for(@project.photo)) %>">
<% end %>
<br>
<%= button_to "Edit Project", edit_user_project_path(@project.user, @project), method: :get %> 
<%= link_to "Delete Project", user_project_path(@project.user, @project) %>
