<h1><%= @project.title %></h1><br>

<h5>Style: <%= @project.style.camelcase %></h5><br>

<h5>Tools used:</h5><br>
    <ul>
    <% @project.tools.each do |tool|%>
        <%= tool.brand %> - <%= tool.name %><br>
    <% end %>
    </ul>
<%= link_to "Add a Tool", new_tool_path %><br>

<% if @project.photo.attached? %>
    <image class="resize" src="<%= (url_for(@project.photo)) %>">
<% end %>
<br>
<%= link_to "Edit Project", edit_project_path(@project) %>
