<h1>Edit Tool</h1><br>

<%= form_for(@pt) do |f| %>
   <%= f.fields_for(:tool) do |ft| %>
        <label>Select Existing Tool or Enter a New One: </label>
        <%= ft.text_field :name, placeholder: "Enter Brand then Name", list: "names_autocomplete" %>
            <datalist id="names_autocomplete">
                <% Tool.select(:name).each do |tool| %>
                    <option value="<%= tool.name %>">
                <% end %>
            </datalist><br>
    <% end %>

    <label>Favorite This Tool?</label>
    <%= f.check_box :favorite, {}, true, false %><br>

    <%= f.submit %>
<% end %>