<h1>Tool Info</h1><br>

<h4>Name: <%= @pt.tool.name %></h4><br>

<h4>Favorite Tool?</h4>
<% if @pt.favorite? %>
    <h4>Duh!</h4>
<% else %>
    <h4>Nah</h4>
<% end %><br>

<%= form_for(@pt) do |f| %>
    <%= f.hidden_field :favorite, value: false %>
    <label>Favorite This Tool?</label>
    <%= f.check_box :favorite, {}, true, false %><br>
    <%= f.submit "Update" %>
<% end %><br>


<%= button_to "Remove Tool From Project", projects_tool_path(@pt), method: :delete %><br>

<%= link_to "Back to Project", project_path(@pt.project) %><br>