<h1>Add a New Tool</h1>

<%= form_for(@pt) do |f| %>
    <%= f.fields_for :tools do |tool|%>
    <label>Brand: </label>
    <%= tool.text_field :brand %><br>

    <label>Name: </label>
    <%= tool.text_field :name %><br>
    <% end %>

   <%= render 'pt' %> Favorite Tool

    <%= f.submit "Add Tool to Project" %>
<% end %>