<!DOCTYPE html>
<html>
  <head>
    <title>Lettering Project Tracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet">
  </head>

  <header>
    <% if !current_user %>
      <div class="static"><%= link_to "Log In", login_path %></div>
      <div class="static"><%= link_to "Sign Up", new_user_path %></div>
    <% end %>
  </header>

  <body>
    <div class="username"><% if logged_in? %>
      Logged in as <%= current_user.first_name %>
    <% end %></div>

    <%= yield %>

    <footer>
      <% if current_user %>
        <div class="static"><%= link_to "Home", user_path(current_user) %></div>
        <div class="static"><%= link_to "All Projects", projects_path %></div>
        <div class="static"><%= link_to "All Users", users_path %></div>
        <div class="static"><%= link_to "All Tools", tools_path %></div>
        <%= form_tag ({controller: 'sessions', action: 'destroy', method: 'post'}) do %>
          <input type=submit value='Log Out'>
        <% end %><br>
      <% else %>
        <div class="static"><%= link_to "All Projects", projects_path %></div>
        <div class="static"><%= link_to "All Users", users_path %></div>
        <div class="static"><%= link_to "All Tools", tools_path %></div>
      <% end %>
    </footer>
  </body>
</html>
