<!DOCTYPE html>
<html>
  <head>
    <title>LetteringProjectTracker</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet">
  </head>

  <body>
    <% if logged_in? %>
      Logged in as <%= current_user.first_name %>
    <% else %>
      <%= link_to "Log In", "/login" %>
      <%= link_to "Sign Up", "/users/new" %>
    <% end %>
    <%= yield %>
  </body>
</html>
